web/WEB-INF/wsdl/kronos.mazars.ru/russia/InvoiceRequest.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.webservices.management.mazars.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.webservices.management.mazars.com/" name="InvoiceRequest">
<types>
<xsd:schema>
<xsd:import namespace="http://services.webservices.management.mazars.com/" schemaLocation="https://kronos.mazars.ru:443/russia/InvoiceRequest?xsd=1"/>
</xsd:schema>
</types>
<message name="getAvailableInvoiceRequestPackets">
<part name="parameters" element="tns:getAvailableInvoiceRequestPackets"/>
</message>
<message name="getAvailableInvoiceRequestPacketsResponse">
<part name="parameters" element="tns:getAvailableInvoiceRequestPacketsResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getAvailableInvoiceRequests">
<part name="parameters" element="tns:getAvailableInvoiceRequests"/>
</message>
<message name="getAvailableInvoiceRequestsResponse">
<part name="parameters" element="tns:getAvailableInvoiceRequestsResponse"/>
</message>
<message name="getInvoiceRequest">
<part name="parameters" element="tns:getInvoiceRequest"/>
</message>
<message name="getInvoiceRequestResponse">
<part name="parameters" element="tns:getInvoiceRequestResponse"/>
</message>
<message name="putInvoiceRequestData">
<part name="parameters" element="tns:putInvoiceRequestData"/>
</message>
<message name="putInvoiceRequestDataResponse">
<part name="parameters" element="tns:putInvoiceRequestDataResponse"/>
</message>
<message name="getAvailableActRequests">
<part name="parameters" element="tns:getAvailableActRequests"/>
</message>
<message name="getAvailableActRequestsResponse">
<part name="parameters" element="tns:getAvailableActRequestsResponse"/>
</message>
<message name="putActRequestData">
<part name="parameters" element="tns:putActRequestData"/>
</message>
<message name="putActRequestDataResponse">
<part name="parameters" element="tns:putActRequestDataResponse"/>
</message>
<message name="getAvailableTaxInvoiceRequests">
<part name="parameters" element="tns:getAvailableTaxInvoiceRequests"/>
</message>
<message name="getAvailableTaxInvoiceRequestsResponse">
<part name="parameters" element="tns:getAvailableTaxInvoiceRequestsResponse"/>
</message>
<message name="getTaxInvoiceRequest">
<part name="parameters" element="tns:getTaxInvoiceRequest"/>
</message>
<message name="getTaxInvoiceRequestResponse">
<part name="parameters" element="tns:getTaxInvoiceRequestResponse"/>
</message>
<message name="putTaxInvoiceRequestData">
<part name="parameters" element="tns:putTaxInvoiceRequestData"/>
</message>
<message name="putTaxInvoiceRequestDataResponse">
<part name="parameters" element="tns:putTaxInvoiceRequestDataResponse"/>
</message>
<message name="getInvoiceRequestPacket">
<part name="parameters" element="tns:getInvoiceRequestPacket"/>
</message>
<message name="getInvoiceRequestPacketResponse">
<part name="parameters" element="tns:getInvoiceRequestPacketResponse"/>
</message>
<message name="closeInvoiceRequestPacket">
<part name="parameters" element="tns:closeInvoiceRequestPacket"/>
</message>
<message name="closeInvoiceRequestPacketResponse">
<part name="parameters" element="tns:closeInvoiceRequestPacketResponse"/>
</message>
<message name="getAvailableOutOfPocketRequests">
<part name="parameters" element="tns:getAvailableOutOfPocketRequests"/>
</message>
<message name="getAvailableOutOfPocketRequestsResponse">
<part name="parameters" element="tns:getAvailableOutOfPocketRequestsResponse"/>
</message>
<message name="getOutOfPocketRequest">
<part name="parameters" element="tns:getOutOfPocketRequest"/>
</message>
<message name="getOutOfPocketRequestResponse">
<part name="parameters" element="tns:getOutOfPocketRequestResponse"/>
</message>
<message name="closeOutOfPocketRequest">
<part name="parameters" element="tns:closeOutOfPocketRequest"/>
</message>
<message name="closeOutOfPocketRequestResponse">
<part name="parameters" element="tns:closeOutOfPocketRequestResponse"/>
</message>
<message name="putOutOfPocketInvoiceData">
<part name="parameters" element="tns:putOutOfPocketInvoiceData"/>
</message>
<message name="putOutOfPocketInvoiceDataResponse">
<part name="parameters" element="tns:putOutOfPocketInvoiceDataResponse"/>
</message>
<message name="putOutOfPocketActData">
<part name="parameters" element="tns:putOutOfPocketActData"/>
</message>
<message name="putOutOfPocketActDataResponse">
<part name="parameters" element="tns:putOutOfPocketActDataResponse"/>
</message>
<message name="putOutOfPocketPaymentData">
<part name="parameters" element="tns:putOutOfPocketPaymentData"/>
</message>
<message name="putOutOfPocketPaymentDataResponse">
<part name="parameters" element="tns:putOutOfPocketPaymentDataResponse"/>
</message>
<message name="putPaymentData">
<part name="parameters" element="tns:putPaymentData"/>
</message>
<message name="putPaymentDataResponse">
<part name="parameters" element="tns:putPaymentDataResponse"/>
</message>
<message name="getActRequest">
<part name="parameters" element="tns:getActRequest"/>
</message>
<message name="getActRequestResponse">
<part name="parameters" element="tns:getActRequestResponse"/>
</message>
<portType name="InvoiceRequest">
<operation name="getAvailableInvoiceRequestPackets">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableInvoiceRequestPacketsRequest" message="tns:getAvailableInvoiceRequestPackets"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableInvoiceRequestPacketsResponse" message="tns:getAvailableInvoiceRequestPacketsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableInvoiceRequestPackets/Fault/Exception"/>
</operation>
<operation name="getAvailableInvoiceRequests">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableInvoiceRequestsRequest" message="tns:getAvailableInvoiceRequests"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableInvoiceRequestsResponse" message="tns:getAvailableInvoiceRequestsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableInvoiceRequests/Fault/Exception"/>
</operation>
<operation name="getInvoiceRequest">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getInvoiceRequestRequest" message="tns:getInvoiceRequest"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getInvoiceRequestResponse" message="tns:getInvoiceRequestResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getInvoiceRequest/Fault/Exception"/>
</operation>
<operation name="putInvoiceRequestData">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putInvoiceRequestDataRequest" message="tns:putInvoiceRequestData"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putInvoiceRequestDataResponse" message="tns:putInvoiceRequestDataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putInvoiceRequestData/Fault/Exception"/>
</operation>
<operation name="getAvailableActRequests">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableActRequestsRequest" message="tns:getAvailableActRequests"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableActRequestsResponse" message="tns:getAvailableActRequestsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableActRequests/Fault/Exception"/>
</operation>
<operation name="putActRequestData">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putActRequestDataRequest" message="tns:putActRequestData"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putActRequestDataResponse" message="tns:putActRequestDataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putActRequestData/Fault/Exception"/>
</operation>
<operation name="getAvailableTaxInvoiceRequests">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableTaxInvoiceRequestsRequest" message="tns:getAvailableTaxInvoiceRequests"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableTaxInvoiceRequestsResponse" message="tns:getAvailableTaxInvoiceRequestsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableTaxInvoiceRequests/Fault/Exception"/>
</operation>
<operation name="getTaxInvoiceRequest">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getTaxInvoiceRequestRequest" message="tns:getTaxInvoiceRequest"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getTaxInvoiceRequestResponse" message="tns:getTaxInvoiceRequestResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getTaxInvoiceRequest/Fault/Exception"/>
</operation>
<operation name="putTaxInvoiceRequestData">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putTaxInvoiceRequestDataRequest" message="tns:putTaxInvoiceRequestData"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putTaxInvoiceRequestDataResponse" message="tns:putTaxInvoiceRequestDataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putTaxInvoiceRequestData/Fault/Exception"/>
</operation>
<operation name="getInvoiceRequestPacket">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getInvoiceRequestPacketRequest" message="tns:getInvoiceRequestPacket"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getInvoiceRequestPacketResponse" message="tns:getInvoiceRequestPacketResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getInvoiceRequestPacket/Fault/Exception"/>
</operation>
<operation name="closeInvoiceRequestPacket">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/closeInvoiceRequestPacketRequest" message="tns:closeInvoiceRequestPacket"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/closeInvoiceRequestPacketResponse" message="tns:closeInvoiceRequestPacketResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/closeInvoiceRequestPacket/Fault/Exception"/>
</operation>
<operation name="getAvailableOutOfPocketRequests">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableOutOfPocketRequestsRequest" message="tns:getAvailableOutOfPocketRequests"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableOutOfPocketRequestsResponse" message="tns:getAvailableOutOfPocketRequestsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getAvailableOutOfPocketRequests/Fault/Exception"/>
</operation>
<operation name="getOutOfPocketRequest">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getOutOfPocketRequestRequest" message="tns:getOutOfPocketRequest"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getOutOfPocketRequestResponse" message="tns:getOutOfPocketRequestResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getOutOfPocketRequest/Fault/Exception"/>
</operation>
<operation name="closeOutOfPocketRequest">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/closeOutOfPocketRequestRequest" message="tns:closeOutOfPocketRequest"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/closeOutOfPocketRequestResponse" message="tns:closeOutOfPocketRequestResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/closeOutOfPocketRequest/Fault/Exception"/>
</operation>
<operation name="putOutOfPocketInvoiceData">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putOutOfPocketInvoiceDataRequest" message="tns:putOutOfPocketInvoiceData"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putOutOfPocketInvoiceDataResponse" message="tns:putOutOfPocketInvoiceDataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putOutOfPocketInvoiceData/Fault/Exception"/>
</operation>
<operation name="putOutOfPocketActData">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putOutOfPocketActDataRequest" message="tns:putOutOfPocketActData"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putOutOfPocketActDataResponse" message="tns:putOutOfPocketActDataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putOutOfPocketActData/Fault/Exception"/>
</operation>
<operation name="putOutOfPocketPaymentData">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putOutOfPocketPaymentDataRequest" message="tns:putOutOfPocketPaymentData"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putOutOfPocketPaymentDataResponse" message="tns:putOutOfPocketPaymentDataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putOutOfPocketPaymentData/Fault/Exception"/>
</operation>
<operation name="putPaymentData">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putPaymentDataRequest" message="tns:putPaymentData"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putPaymentDataResponse" message="tns:putPaymentDataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/putPaymentData/Fault/Exception"/>
</operation>
<operation name="getActRequest">
<input wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getActRequestRequest" message="tns:getActRequest"/>
<output wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getActRequestResponse" message="tns:getActRequestResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.webservices.management.mazars.com/InvoiceRequest/getActRequest/Fault/Exception"/>
</operation>
</portType>
<binding name="InvoiceRequestPortBinding" type="tns:InvoiceRequest">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAvailableInvoiceRequestPackets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAvailableInvoiceRequests">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getInvoiceRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="putInvoiceRequestData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAvailableActRequests">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="putActRequestData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAvailableTaxInvoiceRequests">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getTaxInvoiceRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="putTaxInvoiceRequestData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getInvoiceRequestPacket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="closeInvoiceRequestPacket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getAvailableOutOfPocketRequests">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getOutOfPocketRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="closeOutOfPocketRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="putOutOfPocketInvoiceData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="putOutOfPocketActData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="putOutOfPocketPaymentData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="putPaymentData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getActRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="InvoiceRequest">
<port name="InvoiceRequestPort" binding="tns:InvoiceRequestPortBinding">
<soap:address location="https://kronos.mazars.ru:443/russia/InvoiceRequest"/>
</port>
</service>
</definitions>