web/WEB-INF/wsdl/kronos.mazars.ru_443/russia/InvoiceRequest.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.webservices.management.mazars.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.webservices.management.mazars.com/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="actRequest" type="tns:actRequestVO"/>

<xs:element name="actRequestItem" type="tns:actRequestItem"/>

<xs:element name="closeInvoiceRequestPacket" type="tns:closeInvoiceRequestPacket"/>

<xs:element name="closeInvoiceRequestPacketResponse" type="tns:closeInvoiceRequestPacketResponse"/>

<xs:element name="closeOutOfPocketRequest" type="tns:closeOutOfPocketRequest"/>

<xs:element name="closeOutOfPocketRequestResponse" type="tns:closeOutOfPocketRequestResponse"/>

<xs:element name="getActRequest" type="tns:getActRequest"/>

<xs:element name="getActRequestResponse" type="tns:getActRequestResponse"/>

<xs:element name="getAvailableActRequests" type="tns:getAvailableActRequests"/>

<xs:element name="getAvailableActRequestsResponse" type="tns:getAvailableActRequestsResponse"/>

<xs:element name="getAvailableInvoiceRequestPackets" type="tns:getAvailableInvoiceRequestPackets"/>

<xs:element name="getAvailableInvoiceRequestPacketsResponse" type="tns:getAvailableInvoiceRequestPacketsResponse"/>

<xs:element name="getAvailableInvoiceRequests" type="tns:getAvailableInvoiceRequests"/>

<xs:element name="getAvailableInvoiceRequestsResponse" type="tns:getAvailableInvoiceRequestsResponse"/>

<xs:element name="getAvailableOutOfPocketRequests" type="tns:getAvailableOutOfPocketRequests"/>

<xs:element name="getAvailableOutOfPocketRequestsResponse" type="tns:getAvailableOutOfPocketRequestsResponse"/>

<xs:element name="getAvailableTaxInvoiceRequests" type="tns:getAvailableTaxInvoiceRequests"/>

<xs:element name="getAvailableTaxInvoiceRequestsResponse" type="tns:getAvailableTaxInvoiceRequestsResponse"/>

<xs:element name="getInvoiceRequest" type="tns:getInvoiceRequest"/>

<xs:element name="getInvoiceRequestPacket" type="tns:getInvoiceRequestPacket"/>

<xs:element name="getInvoiceRequestPacketResponse" type="tns:getInvoiceRequestPacketResponse"/>

<xs:element name="getInvoiceRequestResponse" type="tns:getInvoiceRequestResponse"/>

<xs:element name="getOutOfPocketRequest" type="tns:getOutOfPocketRequest"/>

<xs:element name="getOutOfPocketRequestResponse" type="tns:getOutOfPocketRequestResponse"/>

<xs:element name="getTaxInvoiceRequest" type="tns:getTaxInvoiceRequest"/>

<xs:element name="getTaxInvoiceRequestResponse" type="tns:getTaxInvoiceRequestResponse"/>

<xs:element name="invoiceRequest" type="tns:invoiceRequestVO"/>

<xs:element name="invoiceRequestItem" type="tns:invoiceRequestItem"/>

<xs:element name="invoiceRequestPacket" type="tns:invoiceRequestPacketVO"/>

<xs:element name="outOfPocketRequest" type="tns:outOfPocketRequestVO"/>

<xs:element name="putActRequestData" type="tns:putActRequestData"/>

<xs:element name="putActRequestDataResponse" type="tns:putActRequestDataResponse"/>

<xs:element name="putInvoiceRequestData" type="tns:putInvoiceRequestData"/>

<xs:element name="putInvoiceRequestDataResponse" type="tns:putInvoiceRequestDataResponse"/>

<xs:element name="putOutOfPocketActData" type="tns:putOutOfPocketActData"/>

<xs:element name="putOutOfPocketActDataResponse" type="tns:putOutOfPocketActDataResponse"/>

<xs:element name="putOutOfPocketInvoiceData" type="tns:putOutOfPocketInvoiceData"/>

<xs:element name="putOutOfPocketInvoiceDataResponse" type="tns:putOutOfPocketInvoiceDataResponse"/>

<xs:element name="putOutOfPocketPaymentData" type="tns:putOutOfPocketPaymentData"/>

<xs:element name="putOutOfPocketPaymentDataResponse" type="tns:putOutOfPocketPaymentDataResponse"/>

<xs:element name="putPaymentData" type="tns:putPaymentData"/>

<xs:element name="putPaymentDataResponse" type="tns:putPaymentDataResponse"/>

<xs:element name="putTaxInvoiceRequestData" type="tns:putTaxInvoiceRequestData"/>

<xs:element name="putTaxInvoiceRequestDataResponse" type="tns:putTaxInvoiceRequestDataResponse"/>

<xs:element name="taxInvoiceRequest" type="tns:taxInvoiceRequestVO"/>

<xs:complexType name="getAvailableTaxInvoiceRequests">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="lockAfterReading" type="xs:boolean" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableTaxInvoiceRequestsResponse">
<xs:sequence>
<xs:element name="return" type="tns:taxInvoiceRequestVO" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="taxInvoiceRequestVO">
<xs:sequence>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="projectCode" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="invoiceRequestPacketId" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="withVAT" type="xs:boolean" form="qualified" minOccurs="0"/>
<xs:element name="status" type="tns:InvoiceRequestStatus" form="qualified" minOccurs="0"/>
<xs:element name="actRequestId" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="isCancelled" type="xs:boolean" form="qualified" minOccurs="0"/>
<xs:element name="modifiedAt" type="xs:dateTime" form="qualified" minOccurs="0"/>
<xs:element name="reference" type="xs:string" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOutOfPocketRequest">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="lockAfterReading" type="xs:boolean" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOutOfPocketRequestResponse">
<xs:sequence>
<xs:element name="return" type="tns:outOfPocketRequestVO" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outOfPocketRequestVO">
<xs:sequence>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="projectCode" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="type" type="tns:OutOfPocketItemType" form="qualified" minOccurs="0"/>
<xs:element name="amount" type="xs:decimal" form="qualified" minOccurs="0"/>
<xs:element name="currencyCode" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="description" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="status" type="tns:InvoiceRequestStatus" form="qualified" minOccurs="0"/>
<xs:element name="modifiedAt" type="xs:dateTime" form="qualified" minOccurs="0"/>
<xs:element name="createdAt" type="xs:dateTime" form="qualified" minOccurs="0"/>
<xs:element name="invoiceRequestPacketIds" type="xs:long" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="invoiceRequestIds" type="xs:long" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="actRequestIds" type="xs:long" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="taxInvoiceRequestIds" type="xs:long" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="putOutOfPocketInvoiceData">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="code" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="reference" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" form="qualified" minOccurs="0"/>
<xs:element name="amount" type="xs:decimal" form="qualified" minOccurs="0"/>
<xs:element name="vatIncludedAmount" type="xs:decimal" form="qualified" minOccurs="0"/>
<xs:element name="currencyCode" type="xs:string" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="putOutOfPocketInvoiceDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAvailableOutOfPocketRequests">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="lockAfterReading" type="xs:boolean" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableOutOfPocketRequestsResponse">
<xs:sequence>
<xs:element name="return" type="tns:outOfPocketRequestVO" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="closeOutOfPocketRequest">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="closeOutOfPocketRequestResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="putPaymentData">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="projectCode" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="invoiceReference" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="reference" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" form="qualified" minOccurs="0"/>
<xs:element name="amount" type="xs:decimal" form="qualified" minOccurs="0"/>
<xs:element name="currencyCode" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="cvAmount" type="xs:decimal" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="putPaymentDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="putTaxInvoiceRequestData">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="reference" type="xs:string" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="putTaxInvoiceRequestDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="putActRequestData">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="reference" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" form="qualified" minOccurs="0"/>
<xs:element name="amount" type="xs:decimal" form="qualified" minOccurs="0"/>
<xs:element name="cvAmount" type="xs:decimal" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="putActRequestDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="putOutOfPocketActData">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="code" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="reference" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" form="qualified" minOccurs="0"/>
<xs:element name="amount" type="xs:decimal" form="qualified" minOccurs="0"/>
<xs:element name="currencyCode" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="cvAmount" type="xs:decimal" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="putOutOfPocketActDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getInvoiceRequest">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="lockAfterReading" type="xs:boolean" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvoiceRequestResponse">
<xs:sequence>
<xs:element name="return" type="tns:invoiceRequestVO" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="invoiceRequestVO">
<xs:sequence>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="projectCode" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="invoiceRequestPacketId" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="clientId" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="clientName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="description" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" form="qualified" minOccurs="0"/>
<xs:element name="modifiedAt" type="xs:dateTime" form="qualified" minOccurs="0"/>
<xs:element name="invoiceCurrency" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="paymentCurrency" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="invoiceRequestItems" type="tns:invoiceRequestItem" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="status" type="tns:InvoiceRequestStatus" form="qualified" minOccurs="0"/>
<xs:element name="actRequestId" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="isCancelled" type="xs:boolean" form="qualified" minOccurs="0"/>
<xs:element name="withVAT" type="xs:boolean" form="qualified" minOccurs="0"/>
<xs:element name="reference" type="xs:string" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="invoiceRequestItem">
<xs:sequence>
<xs:element name="name" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="amount" type="xs:decimal" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableInvoiceRequestPackets">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="lockAfterReading" type="xs:boolean" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableInvoiceRequestPacketsResponse">
<xs:sequence>
<xs:element name="return" type="tns:invoiceRequestPacketVO" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="invoiceRequestPacketVO">
<xs:sequence>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="projectCode" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="status" type="tns:InvoiceRequestStatus" form="qualified" minOccurs="0"/>
<xs:element name="withVAT" type="xs:boolean" form="qualified" minOccurs="0"/>
<xs:element name="invoiceRequests" type="tns:invoiceRequestVO" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="tns:actRequest" minOccurs="0"/>
<xs:element ref="tns:taxInvoiceRequest" minOccurs="0"/>
<xs:element name="modifiedAt" type="xs:dateTime" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actRequestVO">
<xs:sequence>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="projectCode" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="invoiceRequestPacketId" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="clientId" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="clientName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="description" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" form="qualified" minOccurs="0"/>
<xs:element name="modifiedAt" type="xs:dateTime" form="qualified" minOccurs="0"/>
<xs:element name="invoiceCurrency" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="paymentCurrency" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="actRequestItems" type="tns:actRequestItem" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="status" type="tns:InvoiceRequestStatus" form="qualified" minOccurs="0"/>
<xs:element name="invoiceRequestIds" type="xs:long" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="taxInvoiceId" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="isCancelled" type="xs:boolean" form="qualified" minOccurs="0"/>
<xs:element name="withVAT" type="xs:boolean" form="qualified" minOccurs="0"/>
<xs:element name="reference" type="xs:string" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actRequestItem">
<xs:sequence>
<xs:element name="name" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="amount" type="xs:decimal" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTaxInvoiceRequest">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="lockAfterReading" type="xs:boolean" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTaxInvoiceRequestResponse">
<xs:sequence>
<xs:element name="return" type="tns:taxInvoiceRequestVO" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="putOutOfPocketPaymentData">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="projectCode" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="invoiceReference" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="reference" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" form="qualified" minOccurs="0"/>
<xs:element name="amount" type="xs:decimal" form="qualified" minOccurs="0"/>
<xs:element name="currencyCode" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="cvAmount" type="xs:decimal" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="putOutOfPocketPaymentDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="putInvoiceRequestData">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="reference" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" form="qualified" minOccurs="0"/>
<xs:element name="vatIncludedAmount" type="xs:decimal" form="qualified" minOccurs="0"/>
<xs:element name="amount" type="xs:decimal" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="putInvoiceRequestDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAvailableActRequests">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="lockAfterReading" type="xs:boolean" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableActRequestsResponse">
<xs:sequence>
<xs:element name="return" type="tns:actRequestVO" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvoiceRequestPacket">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="lockAfterReading" type="xs:boolean" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvoiceRequestPacketResponse">
<xs:sequence>
<xs:element name="return" type="tns:invoiceRequestPacketVO" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableInvoiceRequests">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="lockAfterReading" type="xs:boolean" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableInvoiceRequestsResponse">
<xs:sequence>
<xs:element name="return" type="tns:invoiceRequestVO" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="closeInvoiceRequestPacket">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="closeInvoiceRequestPacketResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getActRequest">
<xs:sequence>
<xs:element name="userName" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="password" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="id" type="xs:long" form="qualified" minOccurs="0"/>
<xs:element name="lockAfterReading" type="xs:boolean" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getActRequestResponse">
<xs:sequence>
<xs:element name="return" type="tns:actRequestVO" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="InvoiceRequestStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="SUSPENDED"/>
<xs:enumeration value="ACTIVE"/>
<xs:enumeration value="LOCKED"/>
<xs:enumeration value="CLOSED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="OutOfPocketItemType">
<xs:restriction base="xs:string">
<xs:enumeration value="FULL"/>
<xs:enumeration value="LIMITED"/>
<xs:enumeration value="NO"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>